.card {
  width: 200px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: transform 0.2s;
  color: #000000;
}

.card:hover {
  transform: scale(1.05);
}

.project-title {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #ffffff;
}

.project-details {
  margin: 0 0 20px;
  font-size: 1rem;
  color: #dcdcdc;
}

.project-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.view-btn {
  background-color: #4caf50;
  color: white;
  margin-right: 5px;
}

.view-btn:hover {
  background-color: #45a049;
}

.source-btn {
  background-color: #008cba;
  color: white;
  margin-left: 5px;
}

.source-btn:hover {
  background-color: #007bb5;
}
